<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Usuários do sistema</h4>
            <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="">
                  <th>
                     Nome
                   </th>
                   <th>
                     E-mail
                   </th>
                   <th>
                     Telefone
                   </th>
                   <th>
                     Nível de Acesso
                   </th>
                 </thead>
                 <tbody>
                   <tr>
                     <td>
                       Dakota Rice
                     </td>
                     <td>
                       dakota@gmail.com
                     </td>
                     <td>
                      (21) 99999-0000
                     </td>
                     <td>
                      3
                     </td>                  
                   </tr>
                   
                   <tr  *ngFor="let user of user; let i=index">
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.phone}}
                    </td>
                    <td>
                     3
                    </td>                  
                  </tr>
                 </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Table on Plain Background</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                 <th>
                    Nome
                  </th>
                  <th>
                    E-mail
                  </th>
                  <th>
                    Telefone
                  </th>
                  <th>
                    Nível de Acesso
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      dakota@gmail.com
                    </td>
                    <td>
                     (21) 99999-0000
                    </td>
                    <td>
                     3
                    </td>                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>